[project]
	description = Node.js, Socket.io, and Highcharts plugins for Freeboard.io
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Peter Nijem (peternijem)
[access "refs/for/refs/*"]
	read = group user/Peter Nijem (peternijem)
	push = group user/Peter Nijem (peternijem)
	label-Code-Review = -2..+2 group user/Peter Nijem (peternijem)
	label-Verified = -1..+1 group user/Peter Nijem (peternijem)
	rebase = group user/Peter Nijem (peternijem)
	removeReviewer = group user/Peter Nijem (peternijem)
	submit = group user/Peter Nijem (peternijem)
[access "refs/heads/*"]
	read = group user/Peter Nijem (peternijem)
	create = group user/Peter Nijem (peternijem)
	push = +force group user/Peter Nijem (peternijem)
	pushMerge = group user/Peter Nijem (peternijem)
[access "refs/tags/*"]
	push = group user/Peter Nijem (peternijem)
	push = +force group user/Peter Nijem (peternijem)
